*{
margin: 0
}

/* .banner{
    
    
} */

.banner-text{
    text-align: center ;
    position: relative ;
    top: 210px ;
    color: #b46c39 ;
    font-size: 110px ;
    font-weight: 400 ;
    font-family: sans-serif ;
}

