*{
    margin: 0 ;
}

/* .banner{
    background: url('images/banner.png') ;
    background-position: center ;
    background-size: cover ;
    height: 90vh ;
}

.banner img {
    width: 120px;
}

.banner-text{
    text-align: center ;
    position: relative ;
    top: 250px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight:light ;
}

.banner-text h1{
    font-size: 90px;
}

.banner-text h2{
    font-size: 50px ;
} */

/* .abt-main{
    display: flex ;
    width: 1800px ;
    text-align: center ;

}

.abt-form{
    width: 50% ;
    align-content: center ;
    background-color: aquamarine;
}

.abt-map{
    width: 50% ;
    background-color: aqua;
} */

