h1{
    background-color: antiquewhite;
}

.a{
    background-color: red;
    color: white;
}

.b{
    background-color: blue;
    font-family: monospace;
}

.c{
    background-color: green;
}

.d{
    background-color: yellow;
}

.e{
    background-color: orange;
    text-decoration: underline;
}

 
